:root {
    --defaultDropshadow: #68000a;
}

#light {
    background-color: #d00015;
}

img.Screenshot {
    min-width: 400px;
    width: 50%;
    padding: 30px;
}
p {
    padding: 0px;
    margin: 0px;
}
.float-left {
    float:left;
}
.text-image-complex {
    display:block;
}

@media screen and (max-width: 1179px) {
    .desktop {
        display:none;
    }
    .smallScreen {
        display:inline-block;
    }
    img.Screenshot {
        width: 600px;
    }
}

@media screen and (min-width: 1180px) {
    .desktop {
        display:inline-block;
    }
    .smallScreen {
        display:none;
    }
    img.Screenshot {
        min-width: 500px;
        width: 50%;
    }
}


/* logo image resize */
.title-icon img {
    width: 100%;
}
@media screen and (max-width: 700px) {
    .title-icon{
        width: 80%;
    }
}
@media screen and (min-width: 701px) {
    .title-icon{
        width: 500px;
    }
}