
:root {
    --desk-item-size : 25%
}

.desk-area {
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
}
.desk-item {
    outline: auto;
    outline-color: aliceblue;
    outline-width: 5px;
}

.desk-item {
    width: var(--desk-item-size);
    margin: 5%;
}
.desk-item img {
    height: 100%;
}

.paint-pallette {
    height: 80%;
}
.skill-sticker {
    width: 40%;
}

/* overlapping studio seufz cartridges */
.cartridge-stack {
    position: relative;
    width: 50%;
    text-align: left;
}
.cartridge-stack img {
    width: 50%;
}
.overlapping-cartridge {
    position: absolute;
    left: 35%;
    top: 15%;
    transform: rotate(30deg);
}
