/* Page */

.desk-area {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 10%;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #9b7254;
    /* position: absolute;
    z-index: -1;
    content: ""; */
    /* transform: rotate(90deg); */
} 

img {
    max-width: 100%;
    max-height: fit-content;
}
