/* Page */

.desk-area {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 10%;
}

.background-image {
    content : "";
    background: url("../Images/Desk\ Visuals/desk.png");
    position: absolute;
    /* height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    z-index: -1; */
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #9b7254;
} 

img {
    max-width: 100%;
    max-height: fit-content;
}
